.Holder {
  position: relative;
  height: 100vh;
  .b_logo_holder {
    z-index: 999;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 770px;
    transform: translateY(50%);
    @media(max-width: 1000px) {
      width: 600px;
    }  
    @media(max-width: 800px) {
      width: 580px;

    }  
    @media(max-width: 600px) {
      width: 340px;

    }  
    @media(max-width: 400px) {
      width: 290px;
    transform: translateY(130%);


    }  
    .bigLogo {
      display: block;
      margin: 0 auto;
      max-width: 100%;

    }
  }
  
}
.VideoBG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    
  }


